body {
    font-family: Arial, Helvetica, sans-serif;
}

.forms {
    display: block;
    margin-top: 3em !important;
    text-align: center;
    width: auto;
    /* margin: auto; */
}

.quantity-input {
    width: 40px;
}

#material-forms {
    display: flex;
    justify-content: space-evenly;
}

table {
    margin: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

td {
    padding: 5px;
}

#persons {
    width: 50%;
    text-align: center;
}

#persons table {
    width: 80%;
}