body {
    font-family: Arial, Helvetica, sans-serif;
}

.forms {
    display: block;
    margin-top: 3em !important;
    text-align: center;
    width: auto;
    /* margin: auto; */
}

.quantity-input {
    width: 40px;
}

#material-forms {
    display: flex;
    justify-content: space-evenly;
}

table {
    margin: auto;
    border-collapse: collapse;
    /* text-align: center; */
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

td {
    padding: 5px;
    width: fit-content;
}

#persons {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 3em !important;
}

#persons-table {
    width: 80%;
}

#update-missing {
    display: block;
    margin-top: 20px;
}

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#missing-modal {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    padding-bottom: 3em;
    background-color: antiquewhite;
}

#missing-modal form {
    margin: 0;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x-btn-container {
    position: relative;
    width: 100%;
    display: block;
}