body {
    font-family: Arial, Helvetica, sans-serif;
}

.forms {
    display: block;
    margin-top: 3em !important;
    text-align: center;
    width: 50%;
    margin: auto;
}

.form-item {
    display: inline-block;
}

.quantity-input {
    width: 40px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

td {
    padding: 5px;
}