/* 
    rgb(0,62,103)
    rgb(0,82,135)
    rgb(237,238,238)
    rgb(197,211,224)

*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.forms {
    display: block;
    margin-top: 3em !important;
    text-align: center;
    width: auto;
    /* margin: auto; */
}

.quantity-input {
    width: 40px;
}
/*****************/
/* styles for header */
/*****************/
.header-line {
    height: 50px;
    background-color:rgb(0,62,103);
    margin: 0;
}

#login-info {
    position: absolute;
    transform: translateY(40%);
    left: 2em;
    text-align: center;
}

#logout-btn {
    margin-top: 0.5em !important;
}

#login-info p{
    margin: 0;
    color: rgb(1, 25, 42);
    font-weight: 900;
}

header h1 {
    text-align: center; 
    margin-top: 1em;
    color: rgb(1, 25, 42);
    font-size: 2.5em;
}

/*****************/
/* styles for data tables */
/*****************/

    /* headers */
.table-header {
    text-align: center;
    margin: auto;
}

.table-header>h2 {
    width: fit-content;
    background-color: rgb(0,82,135);
    color: white;
    border: 5px solid white;
    box-shadow: 0 0 30px white;
    margin: auto;
    margin-bottom: 10px;
    padding: 12px;
}


    /* containers */

#material-data-tables {
    background-color: rgb(227, 227, 231);
    padding-top: 1em;
    padding-bottom: 1px;
}
#material-data-tables >div {
    display: block;
    width: fit-content;
    margin-bottom: 6%;
}

#material-data-tables > div:nth-child(odd) {
    margin-left: 5%;
}


#material-data-tables > div:nth-child(even) {
    margin-left: auto;
    margin-right: 5%;
}

    /* tables */
#material-data-tables table {
    border: 5px solid white;
    /* border-radius: 40px !important; */
    box-shadow: 0 0 30px white;
}

/*****************/
/* styles for donate/request forms */
/*****************/

#donate-request-forms {
    background-color: rgb(195, 196, 207);
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1px;
}

    /* containers */

#donate-request-forms > div:nth-child(odd) {
    margin-left: 5%;
}


#donate-request-forms > div:nth-child(even) {
    margin-left: auto;
    margin-right: 5%;
}

#donate-request-forms >div {
    display: block;
    width: fit-content;
    margin-bottom: 6%;
}

    /* forms */

#donate-request-forms td {
    padding-top: 20px;
    padding-bottom: 20px;
}

#donate-request-forms table {
    border: 5px solid white;
    /* border-radius: 40px !important; */
    box-shadow: 0 0 20px white;
}

    /* buttons */

.form-submit-btn {
    margin-top: 1.5em;
    padding: 10px;
    background-color: rgb(0,82,135);
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
}

.form-submit-btn:hover {
    background-color: rgb(64, 140, 191);
    cursor: pointer;
}

#volunteer-options button{
    margin: auto;
    margin-bottom: 2em;
    display: block;
}

    /* dropdown lists */
#donate-request-forms select {
    /* do stuff */
}

#donate-request-forms option::after {
    content: ">>";
}

#volunteer-options select {
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    display: block;

    /* height: 4em; */
    text-overflow: ellipsis;
    padding: 8px;
    border: 3px solid white;
    appearance: none;
    background-color: rgb(170, 216, 246);
    color: rgb(0,62,103);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 0 20px white;
}

#volunteer-options select:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
}

/*****************/
/* General table styles  */
/*****************/

table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    width: auto;
    min-width: 43em;
}

th {
    padding: 5px;
    background-color: rgb(197,211,224);
}

tr:nth-child(odd) {
    background-color: rgb(219, 232, 244);
}

tr:nth-child(even) {
    background-color: rgb(250, 250, 255);
}

td {
    padding: 5px;
    width: 10em;
}

/* community center table */

#comm-center-info>table th{
    max-width: 10em;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*****************/
/* Missing persons  */
/*****************/

#missing-persons {
    background-color: rgb(236, 237, 249);
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1px;
}
/* missing persons table */
#persons {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 3em !important;
}

#persons-table {
    width: 80%;
    border: 5px solid white;
    box-shadow: 0 0 30px white;
    margin-bottom: 3em;
}

#update-missing {
    display: block;
    margin-top: 0;
    margin-bottom: 3em !important;
}

#update-missing button{
    margin-top: 0;
}


/* missing persons modal */

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#missing-modal {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 30%;
    padding-bottom: 3em;
    background-color: rgb(0,62,103);
    color: rgb(243, 244, 249);
}

#missing-modal form {
    margin: 0;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x-btn-container {
    position: relative;
    width: 100%;
    display: block;
}

/****************/
/* Trucks Popup */
/****************/
 #trucks-popup {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(229, 238, 222);
    color: rgb(71, 115, 38);
    width: 100%;
    height: 6em;
    display: none;
    justify-content: center;
    align-items: center;
 }