/* 
    rgb(0,62,103)
    rgb(0,82,135)
    rgb(237,238,238)
    rgb(197,211,224)

*/


body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(0,62,103);
    font-size: 1.5em;
}

#user-auth {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgb(135, 135, 135);
    border-radius: 10px;
}

#user-auth form>input {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(0,82,135);
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 1em;
}

#user-auth form>button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: rgb(0,82,135);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 0.9em;
    width: 20%;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 1em;
}

#user-auth form>button:hover, #user-auth form>button:active{
    background-color: rgb(46, 125, 179);
    cursor: pointer;
}